<div class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/maestro-cover2.jpg')">
  
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h1 class="title">Maestro Concrete</h1>
                <img class="title" src="assets/img/maestro-logo5.png">
                <!-- <h3 class="description">Start designing your landing page here.</h3> -->
                <br />
                <a href="#" class="btn btn-neutral btn-round"><i class="fa fa-shopping-cart"></i>Products</a>
                <button type="button" class="btn btn-outline-neutral btn-round">Contact</button>
            </div>
        </div>
    </div>
</div>
  
<div class="wrapper">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">About Us</h2>
                    <h5>
                        Maestro Concrete is a  building materials manufacturer with a portfolio that includes a wide range of paver blocks, concrete blocks, hollow bricks, hume pipe etc. of excellent quality
                        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quis quidem atque nisi in qui culpa ipsum commodi accusantium autem vero modi obcaecati, porro itaque sit vel, aut, sunt laboriosam! -->
                    </h5>
                    <br />
                    <!-- <a href="javascript:void(0)" class="btn btn-danger btn-fill btn-round">See Details</a> -->
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-settings"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Quality Assuarance</h4>
                            <p class="description">
                                We are committed to product quality and public safety. All our products go under strict quality test.
                            </p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Vision</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur quis nisi odit facilis sapiente. Ut, quos.quis nisi odit nisi odit  
                            </p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-time-alarm"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">On Time Delivery</h4>
                            <p>
                                Choose from a veriety of many colors resembling sugar paper pastels.
                            </p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </div>

    <div class="projects-2 section section-dark">

        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h6 class="text-muted">Our work</h6>
                    <h2 class="title">Some of Our Awesome Products - 2</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="card-img-top">
                            <a href="#">
                                <img class="img" src="assets/img/tile.webp" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" target="_blank"><h4 class="card-title">Tiles</h4></a>
                            <h6 class="card-category text-muted">Floor tiles, grass pavers, etc.</h6>
                            <!-- <p class="card-description">
                                Paper Kit Angular is a free Bootstrap UI kit that can get you going in a new creative direction! To say the least, it's different since it's not material, flat or iOS inspired.
                            </p> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="card-img-top">
                            <a href="#">
                                <img class="img" src="https://media.istockphoto.com/photos/construction-worker-laying-interlocking-paving-concrete-onto-sheet-picture-id1085601180" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a href="" target="_blank"><h4 class="card-title">Paver Blocks</h4></a>
                            <h6 class="card-category text-muted">Zig-zag, I-shaped, square, tri-hex, etc.</h6>
                            <!-- <p class="card-description">
                                Light Bootstrap Dashboard PRO Angular is a Bootstrap Admin Theme designed to look simple and beautiful. Forget about boring dashboards and grab yourself a copy to kickstart new project!
                            </p> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="card-img-top">
                            <a href="#">
                                <img class="img" src="https://content.jdmagicbox.com/comp/def_content/brick-dealers/shutterstock-462881602-brick-dealers-1-x6ohh.jpg?clr=4a4a1c" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a href="" target="_blank"><h4 class="card-title">Bricks</h4></a>
                            <h6 class="card-category text-muted">Fly ash bricks, concrete bricks, etc.</h6>
                            <!-- <p class="card-description">
                                Get Shit Done Kit Pro it's a Bootstrap Kit that comes with a huge number of customisable components. They are pixel perfect, light and easy to use and combine with other elements.
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                    <a href='#products' class="btn btn-secondary btn-lg btn-fill btn-link">View All</a>
                </div>
            </div>
        </div>
    </div>


    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input class="form-control" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 offset-md-4 ml-auto mr-auto text-center">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-9">
                <div class="links">
                    <ul class="uppercase-links">
                        <li>
                            <a href="javascript:void(0)">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Team
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Contact
                            </a>
                        </li>


                    </ul>
                    <hr />

                    <div class="copyright">
                        © {{data | date: 'yyyy'}}, Maestro Concrete
                    </div>
                </div>
            </div>

            <div class="col-md-4 ml-auto col-sm-2">
                <div class="social-area">
                    <a href="javascript:void(0)" class="btn btn-neutral btn-round btn-just-icon btn-facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-just-icon btn-round btn-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-just-icon btn-round btn-google">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                    <a href="#pin" class="btn btn-neutral btn-just-icon btn-round btn-pinterest">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </footer>
